body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  border-bottom: 2px solid black;
  color: black;
}

header a {
  color: black;

}

.sport_img img {
  width: 225px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.logo-space {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.navbar-nav {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-content: stretch;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}


body {
  margin: 0 auto;
  background-color: lightgray;
}

section {
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  margin-top: 10px;
}

.logo-space {
  display: flex;
}

.articleimg {
  width: 100%;
  height: 150px;
}

.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.blackbox {
  border: solid black 3px;
}

main {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

section {
  flex-basis: 70%;
}

section h1 {
  margin-bottom: 20px;
}

article {
  padding: 15px;
  margin-bottom: 20px;
  max-width: 25%;

}

.clanakarticle {
  max-width: 100%;
}

.clanakh2 {
  display: flex;
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  font-size: 50px;
  border-left: solid rgb(105, 102, 102) 4px;
  width: 60%;
  margin-left: 23%;
}

.link {
  width: 40%;
  color: blue;
  font-weight: bold;
}

.clanak {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: xx-large;
  font-weight: 400;
  font-style: italic;
  font-family: initial;
}

.clanakp {
  display: flex;
  font-size: larger;
  width: 80%;
  font-family: sans-serif;
  margin: 0 auto;
}

.datum {
  display: flex;
  color: rgb(149 147 147);
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  font-size: 25px;
  width: 46%;
  margin-left: 11%;
  margin-bottom: 20px;
}

article h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

article p {
  line-height: 1.5;
}

article a {
  color: #333;
  text-decoration: none;
}

/* Sidebar styles */
aside {
  flex-basis: 25%;
}

aside h2 {
  margin-bottom: 10px;
}

aside ul {
  list-style-type: none;
}

aside li {
  margin-bottom: 5px;
}

aside li a {
  color: #333;
  text-decoration: none;
}

footer {
  background-color: #918f8f;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer {
  background-color: #636060;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}